# Ignore node_modules directory
node_modules/

# Ignore test result directories
/test-results/
/playwright-report/
/blob-report/

# Ignore Playwright cache directory
/playwright/.cache/

# Ignore dotenv environment variable file
.env

# Don't ignore the example env file, useful for sharing configuration templates
!.env.example